@import './normalize.scss';
@import './skeleton.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  width: 100%;
  min-height: 100vh;
  font-family: Roboto, system-ui, -apple-system, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

button {
  border: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-top: 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
